/* COLORS */
:root {
    --baba-black: rgb(8, 8, 8);
    --baba-pink:#D9396A;
    --blue-button-fill:#202850;
    --blue-button-outline:#4759B1;
    --purple-button-fill:#402A46;
    --purple-button-outline:#8E5E9C;
    --pink-button-fill:#621A30;
    --pink-button-outline:#D9396A;
    --grey-button-fill:#343434;
    --grey-button-outline:#737373;
    --yellow-start-game: #EDE285;
    --orange-play-levels: #FFBD47;
    --wall-blue: #293141;
}

@font-face {
    font-family: UIText;
    src: url(Fonts/ui.ttf);
}

/* BASIC */
body {
    margin-left: 25vw;
    margin-right: 25vw;
    font-family: Verdana;
    font-size: 20;
    color: white;
    background-color: var(--baba-black);
    /* background: url(background3.png) repeat top center; */
    background-position-y: top;
    background-position-x: center;
    background-image: url(background3.png);
    background-repeat: repeat;
}

p {
    line-height: 2;
}

li{
    line-height: 2;
}

/* NAV BAR */
nav{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

nav a{
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--blue-button-fill);
    color: #fff;
    text-decoration: none;
    border: 3px solid var(--blue-button-outline);
    border-radius: 4px;
}

nav a:hover {
    background-color: var(--blue-button-outline);
}

/* CONTAINERS */
.main{
    background-color: var(--baba-black);
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid var(--wall-blue);
}

.blackdiv{
    background-color: var(--baba-black);
    margin: 0px;
}

.blackdiv p{
    margin-left: 10px;
}

.leveldiv{
    margin: 50px auto;
    width: 37vw;
    display: block;
}

.bluediv{
    background-color: var(--blue-button-fill);
    border: 3px solid var(--blue-button-outline);
    border-radius: 4px;
    margin: 0px;
}

/* BUTTONS */
.bababutton{
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--blue-button-fill);
    color: #fff;
    text-decoration: none;
    border: 3px solid var(--blue-button-outline);
    border-radius: 4px;
}

.bababutton:hover {
    background-color: var(--blue-button-outline);
}

.selected-button{
    background-color: var(--pink-button-fill);
    border: 3px solid var(--pink-button-outline);
}

.selected-button:hover{
    background-color: var(--pink-button-outline);
}

/* IMAGES */
.babalogo {
    display: block; 
    margin: 0 auto;
    width: auto;
    height: 144px;
}

.by {
    display: block; 
    margin: 0 auto;
    width: auto;
    height: 52px;
}

.pagetitle {
    display: block; 
    margin: 0 auto;
    width: auto;
    height: 52px;
}

.pageobject {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 144px;
}

.babatext {
    width: auto;
    height: 32;
    vertical-align: middle;
}

.statement {
    margin: 0px;
    display: inline;
}

.statement img{
    width: auto;
    height: 32;
    vertical-align: middle;
}

.level{
    height: auto;
    width: 37vw;
    border: 3px solid var(--blue-button-outline);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.level:hover{
    border: 3px solid var(--pink-button-outline);
    border-radius: 4px;
    justify-content: center;
}

/* TEXT */

h1 {
    font-family: UIText;
    font-size: 48px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: UIText;
    text-align: left;
    font-size: 36px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}

.sectiontext {
    font-family: UIText;
    text-align: left;
    font-size: 36px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titletext {
    font-family: UIText;
    text-align: left;
    font-size: 52px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.errortext {
    font-family: UIText;
    text-align: left;
    font-size: 36px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.buttontext {
    margin: 0px;
    margin-top: 6px;
}

.link:visited{
    color: var(--orange-play-levels);
    font-style: italic;
}

.link:hover{
    color: var(--yellow-start-game);
}

.link {
    /* font-family: UIText; */
    text-decoration: underline;
    color: var(--baba-pink);
}

.codetext {
    font-family: UIText;
    text-align: left;
    font-size: 24px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* LISTS */
.levellist{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    list-style: none;
    padding: 0;
    /* column-gap: 40px; */
    row-gap: 10px;
}

.levellist a{
    font-family: UIText;
    /* font-size: 12; */
    text-decoration: underline;
    color: white;
}

.levellist a:hover{
    color: var(--baba-pink);
}

